@using BBS2018.Web;
@{
    MyFormPrincipal principal = this.User as MyFormPrincipal;
    MyFormsAuthentication userData = principal == null ? new MyFormsAuthentication() : principal.UserData;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BBS-论坛</title>
    <link rel="stylesheet" href="~/Content/iconfont/iconfont.css" />
    <link rel="stylesheet" href="~/Content/css/common.css" />
    <link rel="stylesheet" href="~/Content/css/index.css" />
    <link rel="stylesheet" href="~/Content/plugins/layer/theme/default/layer.css" />

    <script type="text/javascript" src="~/Content/plugins/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/Content/plugins/layer/layer.js"></script>
    <script type="text/javascript" src="~/Content/js/layout.js"></script>
    @RenderSection("header", false)
</head>
<body>
    <div class="home-wrap">

        <div class="wrap-head">
            <div class="header">
                <div class="header-bar">
                    <div class="bar-search floatL">
                        <input class="search-key " value="" placeholder="输入问题" />
                        <a class="btn-search">提问</a>
                    </div>
                    <div class="bar-user floatR">
                        <a class="user-logo">
                            <img class="logo-show img24" src="~/Content/images/Login/bg-login.png" />
                        </a>
                        <a class="user-show">@(userData.UserName)</a>
                        <div class="user-detail">
                            <div class="detail-home detail-item"><a class="home-mine">我的主页</a></div>
                            <div class="detail-logout detail-item"><a class="logout" href="@Url.Action("LogOut","Account")">退出</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrap-body">
            @RenderBody()
        </div>
    </div>
    @RenderSection("footer", false)
</body>
</html>
