@using BBS2018.Bussiness.ViewModel
@model QuestionDetailVM
@{
    ViewBag.Title = "QuestionDetial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    <style type="text/css">
        .ques-detail {
            width: 100%;
            /*height: 100%;*/
            padding-top: 60px;
            background: #f6f6f6;
        }

            .ques-detail .detail-title {
                background: #fff;
                margin-top: 5px;
            }

            .ques-detail .title-wrap {
                width: 70%;
                margin: 0 auto;
                padding: 15px 0px;
            }

                .ques-detail .title-wrap .title-up, .title-down {
                    margin: 0px 15px;
                }

                .ques-detail .title-wrap .write-an {
                    display: inline-block;
                    width: 90px;
                    height: 26px;
                    line-height: 26px;
                    text-align: center;
                    border: 1px solid #0084ff;
                    color: #0084ff;
                    cursor: pointer;
                }

                .ques-detail .title-wrap .title-down {
                    margin-top: 15px;
                }

                .ques-detail .title-wrap .write-an:hover {
                    background: #f0f8ff;
                }

            .ques-detail .detail-content {
                width: 70%;
                margin: 0 auto;
                margin-top: 10px;
            }

                .ques-detail .detail-content .content-bar {
                    padding: 15px;
                    background: #fff;
                    border-bottom: 1px solid #bbb;
                }

                    .ques-detail .detail-content .content-bar .defult-sort, .icon-sort {
                        color: #77839c;
                        font-size: 12px;
                    }


                .ques-detail .detail-content .content-item {
                    padding: 15px;
                    background: #fff;
                }

                    .ques-detail .detail-content .content-item .user-logo {
                        display: inline-block;
                        height: 40px;
                        line-height: 40px;
                    }

                    .ques-detail .detail-content .content-item .logo-show {
                        margin-right: 10px;
                    }

                    .ques-detail .detail-content .content-item .item-user,
                    .item-praise,
                    .item-date {
                        padding: 10px 0px;
                        color: #8590a6;
                    }

                    .ques-detail .detail-content .content-item .domain-show {
                        color: #646464;
                    }

                    .ques-detail .detail-content .content-item .item-praise * {
                        color: #8590a6;
                    }

                    .ques-detail .detail-content .content-item .icon-comment, .comment-num {
                        margin: 0px 3px;
                    }
    </style>
}
<div class="ques-detail">
    <div class="detail">

        <div class="detail-title">
            <div class="title-wrap">
                <div class="title-up">
                    <h2 class="up-text">@(Model.Title)</h2>
                </div>
                <div class="title-down">
                    <div class="down-write">
                        <a class="write-an">
                            <span class="iconfont icon-write-answer"></span>
                            <span>写回答</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="detail-content">

            <div class="content-bar clearfix">
                <div class="bar-left floatL">
                    <strong class="an-count">@(Model.AnswerCount)</strong><span class="an-text">个回答</span>
                </div>
                <div class="bar-right floatR">
                    <a class="defult-sort">默认排序</a>
                    <a class="iconfont icon-sort"></a>
                </div>
            </div>

            <div class="content-list"></div>
        </div>

    </div>
</div>
<input type="hidden" name="writeAnswerUrl" value="@(Url.Action("WriteAnswer", "Answer"))" />
<input type="hidden" name="saveAnswerUrl" value="@(Url.Action("SaveAnswer", "Answer"))" />
<input type="hidden" name="questionId" value="@(Model.ID)" />
<input type="hidden" name="getQAnswerUrl" value="@(Url.Action("GetQAnswerPageList", "Question"))" />
<input type="hidden" name="savePraiseTreadUrl" value="@Url.Action("SavePraiseOrTread", "PraiseOrTread")" />
<input type="hidden" name="commentListUrl" value="@Url.Action("GetCommentList", "Comment")" />
@section footer{
    <script type="text/javascript" src="~/Content/js/question-detail.js"></script>
}